{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered">
     <thead>
         <tr>
             <th colspan= "4">Listado de contactos</th>
         </tr>
         <tr>
             <th>ID: </th>
             <th>NAME: </th>
             <th>TELEPHONE: </th>
             <th>E-MAIL: </th>
         </tr>
     </thead>
    <tbody>
        {%  if contacts %}
            {% for contacts in contacts %}
                <td>{{ contacts.id }}</td>
                <td>{{ contacts.nombre }}</td>
                <td>{{ contacts.telefono }}</td>
                <td>{{ contacts.email }}</td>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan = "4"> Sin contactos </td>
            </tr>

        {% endif %}
    </tbody>
    </table>

{% endblock %}